<?xml version="1.0"?>
<Player>
    <RootPath>D:\\MyMainFolder\\MSUSC\\CSCI576\\project\\</RootPath>
    <Dataset>
        <Data Name="test1">
            <Audio>testcase\test_data\test_video.wav</Audio>
            <Video>testcase\test_data\frames_rgb_test</Video>
            <OutAudio>testcase\generated\test_case_1.wav</OutAudio>
            <OutVideo>testcase\generated\frame1\</OutVideo>
            <OutBreaks>testcase\generated\breaks1.txt</OutBreaks>
        </Data>
        <Data Name="test2">
            <Audio>testcase\test_data_2\test_video_2.wav</Audio>
            <Video>testcase\test_data_2\frames_rgb_test</Video>
            <OutAudio>testcase\generated\test_case_2.wav</OutAudio>
            <OutVideo>testcase\generated\frame2\</OutVideo>
            <OutBreaks>testcase\generated\breaks2.txt</OutBreaks>
        </Data>
    </Dataset>
    <Ref>
        <OpenCV>\code\opencv\x64\opencv_java451.dll</OpenCV>
    </Ref>
    <Values>
        <VideoSegmentation>
            <RgbDiffThreshold>140</RgbDiffThreshold>
            <HistoDiffThreshold>1</HistoDiffThreshold>
            <HsvDiffThreshold>80</HsvDiffThreshold>
            <FramePass>10</FramePass>
        </VideoSegmentation>
        <!--<WeightAssignment>-->
            <!--<FrameHold>100</FrameHold>-->
            <!--<PreFrameHold>100</PreFrameHold>-->
        <!--</WeightAssignment>-->
    </Values>
</Player>

