<?xml version="1.0"?>
<Player>
    <RootPath>D:\\MyMainFolder\\MSUSC\\CSCI576\\project\\</RootPath>
    <Dataset>
        <Data Name="concert">
            <Audio>testcase\test_data\test_video.wav</Audio>
            <Video>testcase\test_data\frames_rgb_test\test_video</Video>
            <OutAudio>testcase\generated\1.wav</OutAudio>
            <OutVideo>testcase\generated\frame\</OutVideo>
            <OutBreaks>testcase\generated\concert_breaks.txt</OutBreaks>
        </Data>
        <Data Name="concert">
            <Audio>testcase\test_data2\test_video.wav</Audio>
            <Video>testcase\test_data2\frames_rgb_test\test_video_2</Video>
            <OutAudio>testcase\generated\1.wav</OutAudio>
            <OutVideo>testcase\generated\frame\</OutVideo>
            <OutBreaks>testcase\generated\concert_breaks.txt</OutBreaks>
        </Data>
    </Dataset>
    <Ref>
        <OpenCV>\code\opencv\x64\opencv_java451.dll</OpenCV>
    </Ref>
    <Values>
        <VideoSegmentation>
            <RgbDiffThreshold>75</RgbDiffThreshold>
            <HistoDiffThreshold>1.0</HistoDiffThreshold>
            <HsvDiffThreshold>75</HsvDiffThreshold>
            <FramePass>10</FramePass>
        </VideoSegmentation>
        <WeightAssignment>
            
        </WeightAssignment>
    </Values>
</Player>

